.g-4.row.row-cols-md-3.row-cols-2 {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
}

.cards {
    margin-left: 8rem;
    margin-top: 3rem;
}
img.add-btn {
    width: 80px;
    height: 70px;
    margin-right: 7vw;
    float: right;
    border-radius: 30px;
    background: #E9E9E9;
    position: sticky;
    top: 20px;
    bottom: 10vh;
    padding: 50px;
    font-size: 20px;
    top: 0;
};

 div.sticky {

    border-radius: 20px;
}